#selectArticle{
  position:relative;
  bottom:36px;
  left:86%; 
  width:14%;
  height:35px;
  border-radius: 5px;
  border-color: aquamarine;
}
#categoryName{
  border-color: aquamarine;

}
#categoryProduct{
    border-color: aquamarine;

}
.add{
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 5px;
  width: 150px;
  cursor: pointer;
  gap:10px;
}
