nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px 0;
}

nav .logo {
	width: 120px;
	cursor: pointer;
	font-size: 2.5rem;
	font-style: oblique;
	font-weight: bold;
	text-decoration: none;
	color: #94f7e6;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	align-items: center;
	padding-right: 40px;
	text-align: right;
	list-style-type: none;
	
}

ul li {
	margin-right: 10px;
}

ul li a {
	position: relative;
	padding: 10px 20px;
	text-decoration: none;
	color: #94f7e6;
	font-style: oblique;
	font-weight: bold;
	font-size: 16px;
}

button.btn {
	padding: 10px 20px;
	font-size: 1.2rem;
	font-weight: bold;
	font-style: italic;
	margin-top: 0;
	background-color: transparent;
	color: #3e4846;
	border: 1px solid transparent;
	transition: border-color 0.3s ease;
}
    .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 40px;
    
    }

    .card {
      border: 1px solid #ccc;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
   
	.card-buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
	  }
	   .send {
		cursor: pointer;
		position: relative;
		left: 130px;
		top: 60px;
	  }