* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.BgNuedpiedLacet{
    background-image: url("ImgNues/Frame-17-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

    
}
.nuesH1 h1{
    font-size: 70px;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding-top: 100px; 

}
.ajout{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px;
    width: 150px;
    cursor: pointer;
}
.titre:hover{
    color: red;

}
.formlaire{
    border: 1px solid black;
    width: 700px;

}
.place{
    width: 300px;
    margin: 10px;
}
.prenom {
    width: 620px;
    /* margin: 10px; */
}
.largeur{
    width: 620px;
    border-radius: 10px;
}
.option:hover{
    /* background-color: black; */
    color: white;
}
.fa-motorcycle{
    font-size: 30px;

}