/* Ajoutez ces styles pour assurer que les images restent sur la même ligne */
#girls {
    display: flex;
    flex-wrap: wrap;
}

#girls .col-md-3 {
    flex: 0 0 25%; /* 25% de largeur pour chaque colonne pour 4 colonnes au total */
    max-width: 25%;
    padding: 0 15px; /* Espace entre les colonnes */
}
