* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bonner{
    width: 100%;
    min-height: 650px;
    background-image: url('./images/Frame-12-1.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding: 350px 0 100px 0;
}






