* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.TanlonLacet{
    background-image: url("talonsLacets/Frame-14-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

    
}
.TanlonLacet1 h1{
    font-size: 70px;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding-top: 100px; 

}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px;
    width: 150px;
    cursor: pointer;
}
.title{
    color: grey;
}
.title:hover{
    color: red;

}