* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.banner{
    width: 100%;
    min-height: 650px;
    background-image: url('./images/Frame-15-1.png');
    background-repeat: no-repeat;
    background-position:right;
    background-size:contain;
    background-attachment: fixed;
    padding: 350px 0 100px 0;
}
 a{
    text-decoration: none;
}
a:hover{
    background-color: red;
}

.main{
    margin: 30px 130px;
}

h1{
    font-size: 66px;
    line-height: 68px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.main-btn:hover{
    background-color: rgb(37, 6, 37);
    color:white;
    border-color:#ffecd2;
}

.ver img{
    height: 300px;
    width: 300px;
}
p{
    color: grey;
    font-weight: 500;
    font-size: 13px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  border:none;
  padding: 10px;
  width: 100%;
}

img {
  width:300px;
  height:100px;
}
 .main-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  color: white;
  cursor: pointer;
  width: 300px;
  background-image: none;
  border-radius: 50px;
  background-color:black;
}


